

.circle {
  background: #4459d4;
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
}
  
span {
  display: block;
  font-size:240px;
  color: #fff;
  height: 500px;
  width: 500px;
  text-align: center;
  padding-top: 24%;
}
  

.circle {
  animation: grow 5s infinite;

}

@keyframes grow {
 0% {
-webkit-transform: scale( 0 );
-moz-transform: scale( 0 );
-o-transform: scale( 0 );
-ms-transform: scale( 0 );
transform: scale( 0 );
  }
  
  50% {
  -webkit-transform: scale( 0.1 );
  -moz-transform: scale( 0.1 );
  -o-transform: scale( 0.1 );
  -ms-transform: scale( 0.1 );
  transform: scale( 0.1 );
  }
  
  100% {
  -webkit-transform: scale( 0 );
  -moz-transform: scale( 0 );
  -o-transform: scale( 0 );
  -ms-transform: scale( 0 );
  transform: scale( 0 );
  }
}